/* Estilo para la caja donde se escribe el email */
.caja-email {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro transparente */
  border: 1px solid #777;               
  color: white;                         
  max-width: 400px;                     
}

/* Cambia el color del texto de sugerencia ("Email") */
.caja-email::placeholder {
  color: #aaa;
}

/* Estilo para el botón rojo */
.boton-comenzar {
  background-color: #e50914; 
  color: white;               
  font-weight: bold;          
  font-size: 1.2rem;          
  height: 50px;               
  padding: 0 20px;            
}

/* Cambio de color cuando pasas el ratón por encima del botón */
.boton-comenzar:hover {
  background-color: #b9090b;
  color: white;
}