#palomitas{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton-mas-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-group .card{
    border:none;
}